html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

*:focus {
  outline: none;
}

button:focus,
button:focus-visible,
.btn-no-outline:focus,
.btn-no-outline:focus-visible {
  outline: none;
}

#root {
  margin: 0 auto;
  text-align: center;
  min-width: 100%;
  max-width: 1280px;
}

.root-layout {
  max-width: 1400px;
  margin: 0 auto;
}

/* navbar */
header nav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 0 1rem;
  align-items: center;
}

header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid black;
}

header nav a {
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  font-size: 1.25rem;
}

#site-header {
  font-family: cursive;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* sign-in */
.artist-add-ons {
  display: flex;
  margin: 1rem auto 0;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.create-account .field-error-div {
  display: flex;
  flex-direction: column;
  margin: 1rem auto 0;
}

/* dashboard */
.dash-board {
  margin: 1rem 1rem;
}

.user-greeting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#fade-button {
  background-color: white;
  padding: 1rem;
  color: black;
  border-radius: 10px;
}

/* Filter and Display bars */
.selectors-container {
  color: black;
  margin: 1rem 1rem;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.selectors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.selector {
  user-select: none;
  border: 1px solid gray;
  color: gray;
  border-radius: 10px;
  padding: 4px 14px;
  margin-left: 10px;
  cursor: pointer;
  height: 46px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  background-color: aliceblue;
}

.tattoo-filter {
  background-color: aliceblue;
  border-radius: 10px;
}

.tattoo-filter:hover{
  color: black;
}

.selector:hover {
  border: 1px solid black;
  color: black;
}

.selector.active {
  background-color: black;
  color: white;
}

.filter-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* Card grid */
.tattoo-grid,
.request-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 2rem auto;
  align-items: flex-start;
  justify-content: center;
}

.tattoo-card,
.request-card {
  background-color: red;
}

#tattoo-title {
  max-width: 20ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.avatar {
  background-color: yellowgreen;
}

/* tattoo-create form */
.tattoo-form {
  background-color: white;
  padding: 1rem;
  max-width: fit-content;
  margin: 1rem auto;
  border-radius: 10px;
}

.form-flex-div {
  display: flex;
  flex-wrap: wrap;
}

.create-tat-img {
  max-width: 200px;
}

.upload-file-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Request Card */
.centered {
  display: flex;
  justify-content: center;
}

.req-card-content {
  display: block;
  text-align: left;
  padding: 10px;
}

/* Pagination */

.tattoo-grid ul,
.request-grid ul,
.pagination ul {
  display: flex;
  justify-content: center;
  gap: 16px;
  list-style: none;
  padding: 5px;
}

.pagination ul li:hover {
  cursor: pointer;
}

.selected {
  border: 1px solid;
  padding: 0 10px;
  border-radius: 50px;
  background: aliceblue;
}

/* Error messages */
.error-message {
  color: red;
  text-decoration: underline;
  font-size: 0.5rem;
}

#modal-modal-title {
  text-align: center;
  margin-bottom: 16px;
}

@media only screen and (max-width: 600px) {
  .artist-selectors {
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .selector {
    font-size: 14px;
  }

  .form-flex-div {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .tattoo-form {
    margin: 1rem;
  }

  .filter-div {
    justify-content: space-around;
  }

  .tattoo-filter {
    margin: 4px !important;
  }
}
